<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="contact-info">
      <h1>Photocabinet</h1>
      <h2>Adamaris Aponte-Cuadrado</h2>
      <p>
        787.415.5322 | photocabinetpr@gmail.com
      </p>
      <p>
        Calle Betances #227<br>
        San Juan, Puerto Rico
      </p>
      <ul class="face">
        <a href="https://www.facebook.com/photocabinetpr">
        <li class="fa fa-facebook-square fa-2x"></li></a></ul>
    </div>
  </div>
    <div class="col-md-6 col-xs-12 contacto">
      <form id="contact_form" class="contact" action="#" method="POST" enctype="multipart/form-data">
      	<div class="row">
      		<label for="name">Your name:</label><br />
      		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
      	</div>
      	<div class="row">
      		<label for="email">Your email:</label><br />
      		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
      	</div>
      	<div class="row">
      		<label for="message">Your message:</label><br />
      		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
      	</div>
      	<input id="submit_button" type="submit" value="Send email" />
      </form>
    </div>
  </div>
