<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
        <li data-target="#carousel-example-generic" data-slide-to="9"></li>
        <li data-target="#carousel-example-generic" data-slide-to="10"></li>
        <li data-target="#carousel-example-generic" data-slide-to="11"></li>
        <li data-target="#carousel-example-generic" data-slide-to="12"></li>
        <li data-target="#carousel-example-generic" data-slide-to="13"></li>
        <li data-target="#carousel-example-generic" data-slide-to="14"></li>
        <li data-target="#carousel-example-generic" data-slide-to="15"></li>
        <li data-target="#carousel-example-generic" data-slide-to="16"></li>
        <li data-target="#carousel-example-generic" data-slide-to="17"></li>
        <li data-target="#carousel-example-generic" data-slide-to="18"></li>
        <li data-target="#carousel-example-generic" data-slide-to="19"></li>
        <li data-target="#carousel-example-generic" data-slide-to="20"></li>
        <li data-target="#carousel-example-generic" data-slide-to="21"></li>
        <li data-target="#carousel-example-generic" data-slide-to="22"></li>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/img/nembarazo1.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo2.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo3.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo4.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo5.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo6.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo7.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo8.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo9.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo10.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo11.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo12.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo13.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo14.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo15.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo16.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo17.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo18.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo19.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/nembarazo20.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/emabarzof1.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/emabarzof2.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/emabarzof3.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
