<div class="row travesia">
  <div class="col-lg-offset-2">
    <div class="col-lg-4 col-xs-12">
      <img src="/img/ada4.jpg" alt="embarazo" class="img-thumbnail fotos-historia">
      <img src="/img/ada5.jpg" alt="embarazo" class="img-thumbnail fotos-historia">
      <h5 class="credito">Credito Fotografia: Jen Lozano-Memoirs Designer</h5>

    </div>
      <div class="col-lg-6 col-xs-12 about-services">
        <p>Fui adiestrada como doula por la partera Rita Aparicio, a través de Doula Caribe en el 2012. También, ese mismo año documenté para Centro MAM el Primer Congreso de Parto Humanizado en el cual tuve la oportunidad de conocer y compartir con el obstetra francés Michel Odent, parteras mexicanas, puertorriqueñas, el OB venezolano Diego Alarcón, Dr. Ramón Pérez Ramírez, entre otros profesionales de salud locales e internacionales . En ese mismo año, recibí la invitación por la organización inne-CESAREA.org de documentar el proyecto creativo: Cicatrices: Más allá de una herida. En este proyecto muchas mujeres desnudaron sus cuerpos y su alma para llevar un mensaje de prevención, poder y empoderamiento de sus cuerpos durante sus procesos de partos.
        En el año 2013, participé junto a un extenso colectivo de mujeres fotógrafas en la iniciativa Mujeres Abrazando el Mar: Desnudas por Haití, invitada por Hilda Guerrero. Un proyecto transformador y maravilloso en el que nutrí absolutamente mi ser. Este proyecto tenía como objetivo, recaudar fondos para comprar medicamentos que ayudaran a erradicar las hemorragias pospartos en Haití. Esta es la primera causa de muerte en mujeres haitianas.</p>
        <p>En el 2014, participé con Advanced OB/GYN, Doula Heira Rosa & Doula Verónica, para la segunda edición de la Revista Tierna Llegada. Desde que nació mi hijo, he dedicado 4 años de mi vida a este movimiento. Participando activamente en múltiples actividades a favor de las familias, creando colectivos justos y saludables, de la mano de madres que genuinamente promueven la salud emocional/física de los niños, niñas y familias. Todo esto tiene una razón de ser, es un compromiso social serio, que ha conllevado esfuerzos, años de práctica, educación, mentoría, asistencias, colaboraciones, etc, etc.</p>
        <p>En el año 2013 inicié mi formación profesional como fotógrafa, bajo la mentoría del fotógrafo comercial y de moda, Abnel González- Bonilla, acompañándolo a múltiples producciones como asistente y tomando cursos privados de edición/procesamiento, iluminación, fotografía creative en studio, etc. A medida que avanzaba este proceso de transformación y transición, Photocabinet iba desarrollándose y creciendo favorablemente, hasta convertirse en lo que es hoy. Un proyecto de vida, autogestión y comprometido absolutamente con las familias y los partos/nacimientos respetados.</p>
        <h3 class="firma">Adamaris Aponte-Cuadrado</h3>

      </div>
    </div>
  </div>
