<div class="container-fluid slideshow" id="content">
  <div class="row">
    <div class="col-md-offset-2">
    <div class="col-md-3 col-xs-12">
      <img src="/img/home5.jpg" alt="embarazo" class="img-thumbnail fotos-home">
      <img src="/img/nembarazo3.png" alt="embarazo" class="img-thumbnail fotos-home">
      <img src="/img/home12.jpg" alt="embarazo" class="img-thumbnail fotos-home">
      <img src="/img/nembarazo15.png" alt="embarazo" class="img-thumbnail fotos-home">
      </div>
    <div class="col-md-4 col-xs-12">
      <img src="/img/n-postparto1.png" alt="embarazo" class="img-thumbnail fotos-home2">
      <img src="/img/parto8.png" alt="embarazo" class="img-thumbnail fotos-home2">
      <img src="/img/home1.jpg" alt="embarazo" class="img-thumbnail fotos-home2">
    </div>
    <div class="col-md-3 col-xs-12">
      <img src="/img/home2.jpg" alt="embarazo" class="img-thumbnail fotos-home">
      <img src="/img/lactancia14.png" alt="embarazo" class="img-thumbnail fotos-home">
      <img src="/img/home10.jpg" alt="embarazo" class="img-thumbnail fotos-home">
      <img src="/img/home4.jpg" alt="embarazo" class="img-thumbnail fotos-home">
  </div>
</div>
</div>
</div>
