<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
        <li data-target="#carousel-example-generic" data-slide-to="9"></li>
        <li data-target="#carousel-example-generic" data-slide-to="10"></li>
        <li data-target="#carousel-example-generic" data-slide-to="11"></li>
        <li data-target="#carousel-example-generic" data-slide-to="12"></li>
        <li data-target="#carousel-example-generic" data-slide-to="13"></li>
        <li data-target="#carousel-example-generic" data-slide-to="14"></li>
        <li data-target="#carousel-example-generic" data-slide-to="15"></li>
        <li data-target="#carousel-example-generic" data-slide-to="16"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/img/lactancia1.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia2.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia3.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia4.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia5.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia6.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia7.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia8.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia9.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia10.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia11.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia12.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia13.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia14.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia15.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia16.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="/img/lactancia17.png" alt="embarazo">
          <div class="carousel-caption">
            ...
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
