<div class="row travesia">
  <div class="col-lg-offset-2">
    <div class="col-lg-4 col-xs-12">
      <img src="/img/nembarazo3.png" alt="embarazo" class="img-thumbnail foto-travesia">
    </div>
      <div class="col-lg-6 col-xs-12 about-services">
        <h2>Embarazo</h2>
        <p>Como madre y doula, este es uno de mis servicios favoritos. Rompiendo con los esquemas asociados a una maternidad pasiva, nuestra intención es proyectar durante estas sesiones el poder, la fuerza y la belleza de esta etapa, pero sin menospreciar las emociones, los retos físicos y emocionales de la misma. A su vez, facilitamos un ambiente sano y respetuoso e informado durante el progreso de las sesiones. Mantenemos la creatividad y dinamismo, para que el resultado sea tan consistente como las referencias presentadas en nuestros portfolios.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 about-services">
        <div class="col-lg-6 col-xs-12">
          <h2>Lactancia</h2>
          <p>Como madre, valoro es esfuerzo y la autonomía de las mujeres que eligieron o no pudieron amamantar a sus hijos e hijas. Por otro lado, reconozco la importancia del amamantamiento en sus distintos niveles: físicos, emocionales y sociales. Apoyo y vivo la lactancia, 4 años después de haber parido a mi único hijo, aún conservo ese vínculo. Ofrezco la oportunidad de ese mantener ese momento vivo por siempre a través de nuestras fotos.</p>
        </div>
        <div class="col-lg-4 col-xs-12">
          <img src="/img/lactancia9.png" alt="embarazo" class="img-thumbnail foto-travesia">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-2">
        <div class="col-lg-4 col-xs-12">
          <img src="/img/nfamilia3.png" alt="embarazo" class="img-thumbnail foto-travesia">
        </div>
          <div class="col-lg-6 col-xs-12 about-services">
            <h2>Sesiones Familiares</h2>
            <p>Respetamos las distintas modalidades de familias. Igualmente, sabemos que cada familia es única, y es por eso que en nuestro esfuerzo está, el compromiso de facilitar sesiones que reflejen la individualidad de cada una. Plasmando de esta manera, las cualidades que las distinguen.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-2 about-services">
            <div class="col-lg-6 col-xs-10">
              <h2>Niños y Niñas</h2>
              <p>Mi meta como fotógrafa es brindarle la tranquilidad y confianza que cada familia merece durante las sesiones. Trabajamos respetuosamente y en armonía con sus niños y niñas. Brindamos un ambiente libre, en el que se puedan desenvolver con seguridad. Nuestra filosofía de crianza es basada en la Pedagogía y Antroposofía Waldorf. Nuestra misión es que la sesión sea un tiempo agradable y creativo para sus hijos e hijas. Utilizando nuestro conocimiento y la experiencia, haremos posible unas fotos que representen la realidad de sus niños y niñas.
              </p>
            </div>
            <div class="col-lg-4 col-xs-12">
              <img src="/img/niño9.png" alt="embarazo" class="img-thumbnail foto-travesia">
            </div>
          </div>
        </div>
            <div class="row">
              <div class="col-lg-offset-2">
                <div class="col-lg-4 col-xs-12">
                  <img src="/img/npostparto6.png" alt="embarazo" class="img-thumbnail foto-travesia">
                </div>
                  <div class="col-lg-6 col-xs-12 about-services">
                    <h2>Sesiones en el hogar (posparto)</h2>
                    <p>Estas sesiones son una excelente opción para anunciar la llegada de bebé, tener espacio de intimidad con él o ella. Inmortalizarlos primeros días de la lactancia y disfrutar de la belleza del cuerpo posparto. ¡Sí,  llegamos  a  sus  casas!  Me  gustan  estas  sesiones  porque  conllevan una dinámica completamente distinta a las demás. Tratamos de mantener la esencia de lo que va fluyendo en el momento, integramos a los hermanos y hermanas. También  documentamos  esos  primeros  momentos  de  enamoramiento  entre papá,  abuelos,  mamá  con  bebé.  Este  servicio  también  lo  ofrecemos  para embarazadas y en algunos casos, a otras familias que no tengan recién nacidos.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-offset-2 about-services">
                    <div class="col-lg-6 col-xs-10">
                      <h2>Belly Painting & Henna Tattoo</h2>
                      <p>Sabemos lo importante que es tener un recuerdo de su henna y los belly painting. Actualmente, trabajamos de la mano de dos excelentes  colegas  doulas  y  artistas.  Ambas  trabajan  con  materiales respetuosos  y  seguros  para  las  madres/niños  y  niñas.  Para  reservaciones, sugiero  que  se  comuniquen  con  al  menos  un  mes  de  anticipación,  entre  las semanas 28-33 de embarazo.
                      <p>Contactos:  Prima  del  Sol  787.934.4033  (solo  bellypainting)  y  Tania  Silva 787.462.4381 (ambos servicios)</p>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                      <img src="/img/henna4.png" alt="embarazo" class="img-thumbnail fotos-home">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-offset-2">
                    <div class="col-lg-4 col-xs-12">
                      <img src="/img/blessingn10.png" alt="embarazo" class="img-thumbnail fotos-home">
                    </div>
                      <div class="col-lg-6 col-xs-12 about-services">
                        <h2>Blessing  Way</h2>
                        <p>Ofrecemos  un  servicio  respetuoso  para  el  momento  de  la bendición de tu embarazo. Estas ceremonias regularmente son organizadas por doulas  o  mujeres  cercanas  a la  embarazada.    Actualmente,  muchas  mujeres prefieren  sustituir  los  tradicionales  baby  showers  por  los  blessings.  En  los blessings, no se hacen regalos como en los baby showers, se caracterizan más bien, por la conexión espiritual y por honrar a la madre durante la ceremonia.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-offset-2 about-services">
                        <div class="col-lg-6 col-xs-10">
                          <h2>Parto</h2>
                          <p>La documentación durante el parto, es una alternativa para inmortalizar dicho momento de una manera especial. Documentamos el proceso desde el momento en que se notifica que la madre está de parto oficialmente, hasta la primera hora posparto. También ofrecemos la alternativa de  cubrir el posparto entero (4-6 horas) por un cargo adicional a la tarifa oficial. Como  fotógrafa tengo el compromiso ético de ofrecer entera confidencialidad del proceso tanto a la madre, como a su familia. He documentado cerca de 15 partos en estos dos años, la mayoría de ellos en el hogar y uno de ellos en el hospital. También he estado  presente  en  situaciones  de  emergencia,  canalizando profesionalmente las mismas. Es importante tener las destrezas y el conocimiento para reconocer cuándo  es  momento  de  parar  documentar,  también  saber  identificar  los momentos en los que es necesario brindarle espacio a la madre. Photocabinet es miembro de la International Association of Professional Birth Photographers desde el año 2013.
                          </p>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <img src="/img/parto14.png" alt="embarazo" class="img-thumbnail fotoshome parto-service">
                        </div>
                      </div>
                    </div>
