<div class="row travesia">
  <div class="col-lg-offset-2">
    <div class="col-lg-4 col-xs-12">
      <img src="/img/behind1.jpg" alt="embarazo" class="img-thumbnail foto-travesia">
    </div>
      <div class="col-lg-6 col-xs-12 about-services">
        <h2>Estilo y edición artística</h2>
        <p>Trabajamos sesiones espontáneas, dinámicas y divertidas. Nuestro enfoque es documentar auténticamente las magia de cada embarazada, familias, niños y niñas. ¡Contar su historia a través de nuestras fotos! Para la edición y procesamiento de las imágenes, seleccionamos cuidadosamente las mejores tomas, basándonos en poses, iluminación, expresión facial, “sharpness”, perspectiva artística, etc. Cada foto es trabajada de acuerdo a su necesidad, sin alterar la esencia de la misma. </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 about-services">
        <div class="col-lg-6 col-xs-12">
          <h2>Reservaciones y localidades</h2>
          <p>Sugiero siempre reservar los espacios con al menos un mes de anticipación. De esta manera podemos reprogramar en caso de que haya algo nos impida llevar a cabo la sesión: parto, lluvia, enfermedad, entre otras situaciones inesperadas. Trabajamos en exteriores, mayormente en el área metropolitana: San Juan, Loíza, Caguas, Río Piedras, Santurce, entre otros pueblos aledaños. Tenemos la alternativa de sesiones fuera de la zona metropolitana, sujetas cargos adicionales desde $30-$75, dependiendo de la distancia. </p>
        </div>
        <div class="col-lg-4 col-xs-12">
          <img src="/img/behind2.jpg" alt="embarazo" class="img-thumbnail foto-travesia">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-2">
        <div class="col-lg-4 col-xs-12">
          <img src="/img/behind4.jpg" alt="embarazo" class="img-thumbnail foto-travesia">
        </div>
          <div class="col-lg-6 col-xs-12 about-services">
            <h2>Duración de las sesiones</h2>
            <p>Nuestras sesiones duran generalmente una hora. Sin embargo, en el caso de la fotografía posparto, requerimos al menos una hora y media. De esta manera podemos darle espacio a mamá de alimentar a bebé, mimarlo y conocernos mejor. La documentación de parto, puede durar desde 4  horas aproximadamente, hasta 40 horas, cada proceso es único y diferente. Nuestro objetivo es ofrecerles imágenes de alta calidad de la mano de un proceso gentil y respetado.</p>
          </div>
        </div>
      </div>
